._6,
._6 * {
  box-sizing: border-box;
}
._6 {
  background: var(
    --fon-3,
    linear-gradient(43.41deg, rgba(8, 9, 12, 1) 0%, rgba(13, 14, 18, 1) 100%)
  );
  height: 423.3rem;
  position: relative;
  overflow: hidden;
}
._6__frame-2131329805 {
  display: flex;
  flex-direction: column;
  gap: 20rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 136.4rem;
  position: absolute;
  left: 27.8rem;
  top: 14.9rem;
}
._6__frame-2131329801 {
  display: flex;
  flex-direction: column;
  gap: 22rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 310.185rem;
  position: relative;
}
._6__frame-2131329823 {
  display: flex;
  flex-direction: column;
  gap: 7.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 136.405rem;
  position: absolute;
  left: 27.8rem;
  top: 13rem;
}
._6__frame-2131329834 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._6__frame-2131329832 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._6__frame-2131329822 {
  flex-shrink: 0;
  width: 136.405rem;
  height: 11rem;
  position: relative;
}
._6__heading-1-huawei-pura-80 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 4.1400001525878904rem;
  line-height: 5.134rem;
  letter-spacing: -0.124rem;
  font-weight: 500;
  position: absolute;
  left: 0rem;
  top: 0rem;
  width: 136.4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._6__frame-2131329821 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 136.405rem;
  position: absolute;
  left: 0rem;
  top: 8rem;
}
._6__frame-2131329835 {
  display: flex;
  flex-direction: row;
  gap: 0.9rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._6__link {
  border-radius: 10rem;
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  position: relative;
  overflow: hidden;
}
._6__div {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  overflow: hidden;
}
._6__image-4 {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: -0.1rem;
  top: 0rem;
  object-fit: cover;
  aspect-ratio: 1;
}
._6__link2 {
  flex-shrink: 0;
  width: 8.841rem;
  height: 1.52rem;
  position: relative;
}
._6__div2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.3rem;
  line-height: 1.5210000000000001rem;
  letter-spacing: -0.034999999999999996rem;
  font-weight: 700;
  position: absolute;
  left: 0rem;
  top: -0.1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._6__frame-2131329836 {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._6__time-07-14-2-2025 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 1.1699999809265136rem;
  line-height: 1.5210000000000001rem;
  letter-spacing: -0.034999999999999996rem;
  font-weight: 500;
  position: relative;
  width: 12.6rem;
  height: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._6__vertical-border {
  border-style: solid;
  border-color: #ffffff;
  border-width: 0rem 0rem 0rem 0.1rem;
  flex-shrink: 0;
  width: 11.966rem;
  height: 1.52rem;
  position: relative;
}
._6___9 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 1.1699999809265136rem;
  line-height: 1.5210000000000001rem;
  font-weight: 500;
  position: absolute;
  left: 1.361rem;
  top: -0.04rem;
  width: 10.6rem;
  height: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._6__container {
  background: linear-gradient(to left, #0e0f12, #0e0f12);
  border-radius: 1.5rem;
  flex-shrink: 0;
  width: 136.405rem;
  height: 50.759rem;
  position: relative;
  overflow: hidden;
}
._6__image-8 {
  width: 136.4rem;
  height: 90.8rem;
  position: absolute;
  left: 0rem;
  top: -8.7rem;
  object-fit: cover;
  aspect-ratio: 1364/908;
}
._6__frame-2131329831 {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 136.4rem;
  position: relative;
}
._6__frame-2131329825 {
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._6__huawei-pura-80 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 2.8rem;
  line-height: 3.9899999999999998rem;
  letter-spacing: -0.06rem;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._6__huawei-pura-80-pura-80-pro-pura-80-ultra-pura-70 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: -0.032rem;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._6__frame-2131329833 {
  display: flex;
  flex-direction: column;
  gap: 7.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._6__frame-2131329824 {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 136.4rem;
  position: relative;
}
._6__heading-2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 2.5rem;
  line-height: 3.105rem;
  letter-spacing: -0.054000000000000006rem;
  font-weight: 600;
  position: relative;
  align-self: stretch;
  height: 3.105rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._6__div3 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.5rem;
  line-height: 2.689rem;
  letter-spacing: -0.032rem;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 2.689rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._6__frame-2131329826 {
  align-self: stretch;
  flex-shrink: 0;
  height: 4.8rem;
  position: relative;
}
._6__strong-huawei-pura-80-pro {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 1.5rem;
  line-height: 2.835rem;
  letter-spacing: -0.032rem;
  font-weight: 400;
  position: absolute;
  left: 2.2rem;
  top: -0.040999999999999995rem;
  width: 132.4rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.strong-huawei-pura-80-pro-span {
  font-family: "Inter-SemiBold", sans-serif;
  font-weight: 600;
}
.strong-huawei-pura-80-pro-span2 {
  font-family: "Inter-Regular", sans-serif;
}
._6__background {
  background: #ffffff;
  border-radius: 100rem;
  width: 0.7190000000000001rem;
  height: 0.7190000000000001rem;
  position: absolute;
  left: 0rem;
  top: 0.5rem;
}
._6__figure-figure {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._6__frame-2131329817 {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 136.4rem;
  position: relative;
}
._6__huawei-pura-80-ultra {
  background: #0e0f12;
  border-radius: 1.5rem;
  align-self: stretch;
  flex-shrink: 0;
  height: 57.419000000000004rem;
  position: relative;
  overflow: hidden;
}
._6__image-7 {
  width: 136.6rem;
  height: 91rem;
  position: absolute;
  left: 0rem;
  top: -16.753rem;
  object-fit: cover;
  aspect-ratio: 1366/910;
}
._6__figcaption-huawei-pura-80-ultra {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.3rem;
  line-height: 1.556rem;
  letter-spacing: -0.034999999999999996rem;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._6__frame-21313298262 {
  flex-shrink: 0;
  width: 136.4rem;
  height: 4.8rem;
  position: relative;
}
.strong-huawei-pura-80-pro-span {
  font-family: "Inter-SemiBold", sans-serif;
  font-weight: 600;
}
.strong-huawei-pura-80-pro-span2 {
  font-family: "Inter-Regular", sans-serif;
}
._6__figure-figure2 {
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 60.61900000000001rem;
  position: relative;
}
._6__huawei-pura-80-pro {
  background: #0e0f12;
  border-radius: 1.5rem;
  flex-shrink: 0;
  width: 136.4rem;
  height: 57.419000000000004rem;
  position: relative;
  overflow: hidden;
}
._6__image-5 {
  width: 140.4rem;
  height: 93.7rem;
  position: absolute;
  left: -2rem;
  top: -13.672rem;
  object-fit: cover;
  aspect-ratio: 1404/937;
}
._6__figcaption-huawei-pura-80-pro {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.3rem;
  line-height: 1.556rem;
  letter-spacing: -0.034999999999999996rem;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._6__frame-2131329829 {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._6__frame-2131329828 {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._6__frame-2131329827 {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._6__huawei-pura-80-pro-pura-80-ultra {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.5rem;
  line-height: 2.689rem;
  letter-spacing: -0.032rem;
  font-weight: 400;
  position: relative;
  width: 94.6rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._6__blockquote {
  background: #0e0f12;
  border-radius: 1.5rem;
  align-self: stretch;
  flex-shrink: 0;
  height: 10.8rem;
  position: relative;
}
._6___14-5-233-5-219 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.5rem;
  line-height: 2.592rem;
  letter-spacing: -0.032rem;
  font-weight: 400;
  position: absolute;
  left: 2.9rem;
  top: 2.779rem;
  width: 104rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._6__figure-figure3 {
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._6__huawei-pura-80-ultra2 {
  background: #0e0f12;
  border-radius: 1.5rem;
  flex-shrink: 0;
  width: 136.4rem;
  height: 57.419000000000004rem;
  position: relative;
  overflow: hidden;
}
._6__image-6 {
  width: 136.4rem;
  height: 90.9rem;
  position: absolute;
  left: 0rem;
  top: -22.496000000000002rem;
  object-fit: cover;
  aspect-ratio: 1364/909;
}
._6__div4 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.5rem;
  line-height: 2.689rem;
  letter-spacing: -0.032rem;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._6___4-pura-80-pro-pura-80-ultra {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.5rem;
  line-height: 2.689rem;
  letter-spacing: -0.032rem;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._6__frame-2131329808 {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 136.4rem;
  position: relative;
}
._6__frame-2131329806 {
  align-self: stretch;
  flex-shrink: 0;
  height: 12.7rem;
  position: relative;
}
._6__frame-58 {
  display: flex;
  flex-direction: row;
  gap: 6.9rem;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0rem;
  top: 0rem;
}
._6__frame-55 {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 16.2rem;
  position: relative;
}
._6__div5 {
  color: #626872;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  align-self: stretch;
}
._6__frame-54 {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._6__div6 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
._6__frame-56 {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 16.2rem;
  position: relative;
}
._6__frame-57 {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 20.9rem;
  position: relative;
}
._6__div7 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  position: relative;
}
._6__frame-21313298082 {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 16.8rem;
  position: absolute;
  left: 119.6rem;
  top: 0rem;
}
._6__frame-582 {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._6__frame-65 {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._6__frame-59 {
  background: #15171b;
  border-radius: 2.4rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 4.8rem;
  height: 4.8rem;
  position: relative;
}
._6__instagram-1 {
  flex-shrink: 0;
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
._6__frame-60 {
  background: #15171b;
  border-radius: 2.4rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 4.8rem;
  height: 4.8rem;
  position: relative;
}
._6__discord-1 {
  flex-shrink: 0;
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
._6__frame-62 {
  background: #15171b;
  border-radius: 2.4rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 4.8rem;
  height: 4.8rem;
  position: relative;
}
._6__twitter-1 {
  flex-shrink: 0;
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
._6__group-37 {
  align-self: stretch;
  flex-shrink: 0;
  height: 3.777rem;
  position: static;
}
._6__frame-68 {
  display: flex;
  flex-direction: row;
  gap: 5.5rem;
  align-items: center;
  justify-content: flex-start;
  width: 49.76%;
  position: absolute;
  right: 50.24%;
  left: 0%;
  top: calc(50% - -8.461rem);
}
._6__group-3 {
  flex-shrink: 0;
  width: 13.1rem;
  height: 3.777rem;
  position: static;
}
._6__frame-1948754034 {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 0rem;
  top: 0rem;
}
._6__frame-1948754035 {
  flex-shrink: 0;
  width: 3.2rem;
  height: 3.777rem;
  position: relative;
}
._6___1 {
  width: 3.2rem;
  height: 3.777rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  object-fit: cover;
  aspect-ratio: 32/37.77;
}
._6__frame-1948754036 {
  flex-shrink: 0;
  width: 8.6rem;
  height: 1.8rem;
  position: relative;
}
._6__legit-check {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.6400800704956056rem;
  line-height: 1.693rem;
  letter-spacing: -0.05em;
  font-weight: 700;
  position: absolute;
  left: 0rem;
  top: 0rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._6___2025-legit-check {
  color: #626872;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  position: relative;
}
._6__expert-checks-for-the-world-s-most-popular-brands {
  color: #ffffff;
  text-align: right;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 70.59%;
  width: 29.41%;
  bottom: 4.45%;
  top: 89.42%;
  height: 6.13%;
}
._6__div8 {
  width: 136.4rem;
  height: 5.8rem;
  position: fixed;
  left: 27.8rem;
  top: 3.2rem;
}
._6__shadowing {
  background: linear-gradient(
    180deg,
    rgba(12, 14, 18, 1) 0%,
    rgba(12, 14, 18, 0) 100%
  );
  width: 192rem;
  height: 12.2rem;
  position: absolute;
  left: -27.8rem;
  top: -3.2rem;
}
._6__div9 {
  width: 13rem;
  height: 5.8rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
}
._6__frame-19487540342 {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 0rem;
  top: 1rem;
}
._6__get-stardet {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 1.5rem;
  border-style: solid;
  border-color: transparent;
  border-width: 0.1rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 15.4rem;
  height: 5.8rem;
  position: absolute;
  left: 121rem;
  top: 0rem;
  backdrop-filter: blur(5rem);
}
._6__div10 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
}
._6__div11 {
  background: rgba(0, 0, 0, 0.02);
  border-radius: 1.5rem;
  border-style: solid;
  border-color: transparent;
  border-width: 0.1rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 68rem;
  position: absolute;
  left: 34.2rem;
  top: -0.3rem;
  backdrop-filter: blur(2rem);
}
._6__div12 {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
._6__home {
  border-radius: 4.8rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 8.9rem;
  height: 4rem;
  position: relative;
}
._6__div13 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  position: relative;
}
._6__features {
  border-radius: 4.8rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 11.5rem;
  height: 4rem;
  position: relative;
}
._6__about-us {
  border-radius: 4.8rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 15.4rem;
  height: 4rem;
  position: relative;
}
._6__pricing {
  border-radius: 4.8rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 16.5rem;
  height: 4rem;
  position: relative;
}
._6__faq {
  border-radius: 4.8rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 6.9rem;
  height: 4rem;
  position: relative;
}
