._4,
._4 * {
  box-sizing: border-box;
}
._4 {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(43.41deg, rgba(8, 9, 12, 1) 0%, rgba(13, 14, 18, 1) 100%);
  height: 608.9rem;
  position: relative;
  overflow: hidden;
}
._4__frame-2131329865 {
  display: flex;
  flex-direction: column;
  gap: 20rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 192rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
}
._4__frame-2131329858 {
  padding: 9.6rem 27.8rem 9.6rem 27.8rem;
  align-self: stretch;
  flex-shrink: 0;
  height: 95.3rem;
  position: relative;
  overflow: hidden;
}
._4__frame-2131329787 {
  width: 136.4rem;
  height: 90.2rem;
  position: absolute;
  left: 27.8rem;
  top: 9.6rem;
}
._4__frame-2131329850 {
  width: 136.4rem;
  height: 78.8rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
}
._4__ellipse-914 {
  background: #ff3f75;
  border-radius: 50%;
  width: 14.4rem;
  height: 14.4rem;
  position: absolute;
  left: 108.6rem;
  top: 25.9rem;
  filter: blur(25rem);
}
._4__ellipse-915 {
  background: #03d792;
  border-radius: 50%;
  width: 16.5rem;
  height: 16.5rem;
  position: absolute;
  left: 20.3rem;
  top: 18.8rem;
  filter: blur(25rem);
}
._4__frame-2131329919 {
  width: 246.42rem;
  height: 92.8rem;
  position: absolute;
  left: -40.3rem;
  top: -25.7rem;
}
._4__frame-2131329872 {
  width: 217.15rem;
  height: 69.3rem;
  position: absolute;
  left: 9.5rem;
  top: 10.8rem;
}
._4__vector-1 {
  border-radius: 0rem;
  width: 330.45999999999998rem;
  height: 67.401999999999997rem;
  position: absolute;
  left: -68rem;
  top: 37.42rem;
  transform: translate(3rem, -35.12rem);
  overflow: visible;
}
._4__frame-2131329869 {
  background: #181a21;
  border-radius: 1.23rem;
  width: 17.788rem;
  height: 22.952rem;
  position: absolute;
  left: 23.444rem;
  top: 30.023000000000003rem;
  transform-origin: 0 0;
  transform: rotate(-15.573deg) scale(1, 1);
  overflow: hidden;
}
._4__frame-2131329913 {
  border-radius: 1.9329999999999998rem;
  width: 20.797rem;
  height: 25.863rem;
  position: absolute;
  left: -1.483rem;
  top: -1.922rem;
  transform-origin: 0 0;
  transform: rotate(-0.533deg) scale(1, 1);
  overflow: hidden;
}
._4__img {
  background: linear-gradient(
    180deg,
    rgba(244, 124, 67, 1) 0%,
    rgba(145, 62, 22, 1) 100%
  );
  border-radius: 1.9329999999999998rem;
  height: 25.863rem;
  position: absolute;
  right: 0.005rem;
  left: -0.000012526927457656712rem;
  top: 0rem;
  object-fit: cover;
}
._4__pngegg-11-1 {
  width: 32.094rem;
  height: 32.094rem;
  position: absolute;
  left: 0.009rem;
  top: 1.592rem;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  object-fit: cover;
  aspect-ratio: 1;
}
._4__frame-2131329871 {
  background: #181a21;
  border-radius: 1.23rem;
  width: 17.788rem;
  height: 22.952rem;
  position: absolute;
  left: 147.605rem;
  top: 30.023000000000003rem;
  transform-origin: 0 0;
  transform: rotate(-15.573deg) scale(1, 1);
  overflow: hidden;
}
._4__frame-2131329915 {
  border-radius: 1.7579999999999998rem;
  width: 22.3rem;
  height: 23.391rem;
  position: absolute;
  left: -2.377rem;
  top: -0.05500000000000001rem;
  transform-origin: 0 0;
  transform: rotate(-0.592deg) scale(1, 1);
  overflow: hidden;
}
._4__img2 {
  background: linear-gradient(
    180deg,
    rgba(102, 91, 70, 1) 0%,
    rgba(152, 123, 111, 1) 54.55888509750366%,
    rgba(204, 176, 208, 1) 100%
  );
  border-radius: 1.7579999999999998rem;
  height: 23.391rem;
  position: absolute;
  right: 0rem;
  left: -0.000006022932575433515rem;
  top: 0rem;
}
._4__untitled-228-1 {
  width: 19.097rem;
  height: 40.898rem;
  position: absolute;
  left: 1.9920000000000002rem;
  top: -0.705rem;
  object-fit: cover;
  aspect-ratio: 190.97/408.98;
}
._4__frame-21313298692 {
  background: linear-gradient(
    180deg,
    rgba(70, 150, 132, 1) 0%,
    rgba(8, 41, 35, 1) 100%
  );
  border-radius: 1.23rem;
  width: 13.05rem;
  height: 16.838rem;
  position: absolute;
  left: 69.81rem;
  top: 21.067rem;
  transform-origin: 0 0;
  transform: rotate(18.633deg) scale(1, 1);
  overflow: hidden;
}
._4___48112-970-1-1 {
  width: 15.785rem;
  height: 18.426rem;
  position: absolute;
  left: -1.282rem;
  top: 0.016rem;
  transform-origin: 0 0;
  transform: rotate(-0.883deg) scale(1, 1);
  object-fit: cover;
  aspect-ratio: 157.85/184.26;
}
._4__frame-2131329870 {
  background: linear-gradient(
    270deg,
    rgba(24, 26, 33, 1) 0%,
    rgba(52, 52, 70, 1) 100%
  );
  border-radius: 1.23rem;
  width: 19.240000000000002rem;
  height: 24.826rem;
  position: absolute;
  left: 98.52000000000001rem;
  top: 44.041000000000004rem;
  transform-origin: 0 0;
  transform: rotate(-77.632deg) scale(1, 1);
  overflow: hidden;
}
._4__pngwingcom-1-1 {
  width: 26.413rem;
  height: 22.889rem;
  position: absolute;
  left: 18.318rem;
  top: -4.426rem;
  transform-origin: 0 0;
  transform: rotate(90.304deg) scale(1, 1);
  object-fit: cover;
  aspect-ratio: 264.13/228.89;
}
._4__frame-2131329839 {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
  align-items: center;
  justify-content: flex-start;
  width: 84.4rem;
  position: absolute;
  left: 65.2rem;
  top: 65.5rem;
}
._4__div {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._4__div2 {
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 5rem;
  line-height: 5.2rem;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.div-2-span {
  color: #ffffff;
}
.div-2-span2 {
  color: #03d792;
}
._4__div3 {
  color: #626872;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  position: relative;
  width: 83.2rem;
}
._4__proceed-to-stress-tests {
  background: #ffffff;
  border-radius: 1.5rem;
  padding: 1.2rem 2.4rem 1.2rem 2.4rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 21.4rem;
  height: 5.8rem;
  position: relative;
}
._4__div4 {
  color: #060606;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  position: relative;
}
._4__div5 {
  display: flex;
  flex-direction: row;
  row-gap: 6.4rem;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  width: 136.4rem;
  position: absolute;
  left: 0rem;
  top: 75.8rem;
}
._4___1 {
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.12);
  border-width: 0rem 0rem 0rem 0.1rem;
  padding: 0rem 0rem 0rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._4__div6 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 4rem;
  line-height: 3.6rem;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
._4__div7 {
  color: #626872;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.6rem;
  line-height: 3.6rem;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
._4___2 {
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.12);
  border-width: 0rem 0rem 0rem 0.1rem;
  padding: 0rem 0rem 0rem 10.4rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._4___3 {
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.12);
  border-width: 0rem 0rem 0rem 0.1rem;
  padding: 0rem 0rem 0rem 10.4rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._4___42 {
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.12);
  border-width: 0rem 0.1rem 0rem 0.1rem;
  padding: 0rem 5rem 0rem 10.4rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._4__frame-2131329859 {
  padding: 0rem 27.8rem 0rem 27.8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 76.9rem;
  position: relative;
  overflow: hidden;
}
._4__frame-2131329882 {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._4__div8 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 3rem;
  line-height: 11.881rem;
  font-weight: 700;
  position: relative;
  width: 136.4rem;
}
._4__frame-2131329798 {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 136.4rem;
  position: relative;
}
._4__frame-27 {
  display: flex;
  flex-direction: row;
  gap: 2.067rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._4__frame-23 {
  background: #0b0c0f;
  border-radius: 1.86rem;
  border-style: solid;
  border-color: transparent;
  border-width: 0.1rem;
  padding: 3.1rem;
  display: flex;
  flex-direction: column;
  gap: 1.033rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 32.5rem;
  height: 29.5rem;
  position: relative;
}
._4__frame-22 {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 21.803rem;
  position: relative;
}
._4___1-1000 {
  flex-shrink: 0;
  width: 14.1rem;
  height: 8.4rem;
  position: relative;
  object-fit: cover;
  aspect-ratio: 141/84;
}
._4__frame-20 {
  display: flex;
  flex-direction: column;
  gap: 1.24rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._4__sneakers {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.8599998474121093rem;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
._4__frame-2131329813 {
  background: #131519;
  border-radius: 0.8rem;
  padding: 1.2rem 4.6rem 1.2rem 4.6rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 5.6rem;
  position: relative;
  overflow: hidden;
}
._4__div9 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._4__frame-24 {
  background: #0b0c0f;
  border-radius: 1.86rem;
  border-style: solid;
  border-color: transparent;
  border-width: 0.1rem;
  padding: 3.1rem;
  display: flex;
  flex-direction: column;
  gap: 1.033rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 32.7rem;
  height: 29.5rem;
  position: relative;
}
._4___1-10002 {
  opacity: 0.75;
  flex-shrink: 0;
  width: 14.1rem;
  height: 8.4rem;
  position: relative;
  object-fit: cover;
  aspect-ratio: 141/84;
}
._4__clothing {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.8599998474121093rem;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
._4__frame-25 {
  background: #0b0c0f;
  border-radius: 1.86rem;
  border-style: solid;
  border-color: transparent;
  border-width: 0.1rem;
  padding: 3.1rem;
  flex-shrink: 0;
  width: 32.5rem;
  height: 29.5rem;
  position: relative;
}
._4__frame-222 {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  justify-content: flex-start;
  width: 21.803rem;
  position: absolute;
  left: 5.398rem;
  top: 3.07rem;
}
._4__frame-1948754058 {
  background: #0b0c0f;
  border-radius: 1.86rem;
  border-style: solid;
  border-color: transparent;
  border-width: 0.1rem;
  padding: 3.1rem;
  display: flex;
  flex-direction: column;
  gap: 1.033rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 32.5rem;
  height: 29.5rem;
  position: relative;
}
._4__frame-2131329814 {
  border-radius: 3.617rem;
  border-width: 0.10300000000000001rem;
  border-style: solid;
  border-image: linear-gradient(
    135deg,
    rgba(39, 43, 53, 0) 0%,
    rgba(16, 18, 23, 0) 100%
  );
  border-image-slice: 1;
  padding: 1.653rem;
  display: flex;
  flex-direction: row;
  gap: 1.033rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 7.233rem;
  height: 7.233rem;
  position: relative;
}
._4__accessories {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.8599998474121093rem;
  font-weight: 700;
  position: relative;
}
._4__frame-28 {
  background: #0b0c0f;
  border-radius: 1.86rem;
  border-style: solid;
  border-color: transparent;
  border-width: 0.1rem;
  padding: 3.1rem;
  display: flex;
  flex-direction: column;
  gap: 1.033rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 32.5rem;
  height: 29.5rem;
  position: relative;
}
._4__collectibes {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.8599998474121093rem;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
._4__frame-21313298132 {
  background: #131519;
  border-radius: 0.8rem;
  padding: 1.1rem 4.5rem 1.1rem 4.5rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 5.4rem;
  position: relative;
  overflow: hidden;
}
._4__frame-26 {
  background: #0b0c0f;
  border-radius: 1.86rem;
  border-style: solid;
  border-color: transparent;
  border-width: 0.1rem;
  padding: 3.1rem;
  display: flex;
  flex-direction: column;
  gap: 1.033rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 32.6rem;
  height: 29.5rem;
  position: relative;
}
._4__bags {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.8599998474121093rem;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
._4__frame-21313298133 {
  background: #131519;
  border-radius: 0.8rem;
  padding: 1.2rem 4.6rem 1.2rem 4.6rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 5.5rem;
  position: relative;
  overflow: hidden;
}
._4__frame-2131329861 {
  padding: 0rem 27.8rem 0rem 27.8rem;
  align-self: stretch;
  flex-shrink: 0;
  height: 83rem;
  position: relative;
  overflow: hidden;
}
._4__frame-2131329878 {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  justify-content: flex-start;
  width: 136.4rem;
  height: 82rem;
  position: absolute;
  left: 27.8rem;
  top: 0rem;
}
._4__div10 {
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 3rem;
  line-height: 11.881rem;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.div-10-span {
  color: #626872;
}
.div-10-span2 {
  color: #ffffff;
}
._4__frame-2131329877 {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 74.8rem;
  position: relative;
}
._4__frame-2131329876 {
  background: #0b0c0f;
  border-radius: 2.5rem;
  flex-shrink: 0;
  width: 136.4rem;
  height: 30.9rem;
  position: relative;
  overflow: hidden;
}
._4__frame-2131329879 {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 49.7rem;
  position: absolute;
  left: 4.9rem;
  top: 5.6rem;
}
._4__frame-2131329880 {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 49.7rem;
  position: relative;
}
._4__div11 {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 44.8rem;
  position: relative;
}
._4__div12 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 2.4rem;
  line-height: 5.2rem;
  font-weight: 700;
  position: relative;
}
._4__div13 {
  color: #626872;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  position: relative;
  width: 49.7rem;
}
._4__proceed-to-stress-tests2 {
  background: #131519;
  border-radius: 1.2rem;
  padding: 1.2rem 2.4rem 1.2rem 2.4rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 19.4rem;
  height: 5.3rem;
  position: relative;
}
._4__div14 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  position: relative;
}
._4__mask-group {
  height: 77rem;
  position: absolute;
  left: 57.4rem;
  top: 16.97rem;
  transform: translate(0rem, -22.97rem);
  overflow: visible;
}
._4__frame-2131329885 {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 136.4rem;
  position: relative;
}
._4__frame-2131329875 {
  background: #0b0c0f;
  border-radius: 2.5rem;
  flex-shrink: 0;
  width: 60.5rem;
  height: 41.9rem;
  position: relative;
  overflow: hidden;
}
._4__frame-2131329881 {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 27.2rem;
  position: absolute;
  left: 4.925rem;
  top: 5.4rem;
}
._4__div15 {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 27.2rem;
  position: relative;
}
._4__div16 {
  color: #626872;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  position: relative;
  width: 30.3rem;
}
._4__c-1870312-c-852-4-f-02-9-ff-8-3-e-731-ec-4-cc-62-1 {
  width: 35.2rem;
  height: 35.2rem;
  position: absolute;
  left: 29.725rem;
  top: 12rem;
  object-fit: cover;
  aspect-ratio: 1;
}
._4__frame-2131329874 {
  background: #0b0c0f;
  border-radius: 2.5rem;
  flex-shrink: 0;
  width: 72.9rem;
  height: 41.9rem;
  position: relative;
  overflow: hidden;
}
._4__frame-21313298802 {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 4.9rem;
  top: 5.4rem;
}
._4__frame-21313298792 {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 36.3rem;
  position: relative;
}
._4__div17 {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._4__div18 {
  color: #626872;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  position: relative;
  width: 33.9rem;
}
._4__frame-2131329883 {
  width: 52.801rem;
  height: 66.587rem;
  position: absolute;
  left: 27.525rem;
  top: -2.075rem;
}
._4__e-4637336-1-b-97-4-e-51-9-ab-7-74-a-9-d-9-cc-4002-1 {
  width: 38.992000000000004rem;
  height: 58.488rem;
  position: absolute;
  left: 16.138rem;
  top: -9rem;
  transform-origin: 0 0;
  transform: rotate(15deg) scale(1, 1);
  object-fit: cover;
  aspect-ratio: 389.92/584.88;
}
._4__frame-21313298652 {
  padding: 0rem 27.8rem 0rem 27.8rem;
  align-self: stretch;
  flex-shrink: 0;
  height: 36.9rem;
  position: relative;
  overflow: hidden;
}
._4__frame-21313298782 {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: flex-start;
  justify-content: center;
  width: 136.4rem;
  height: 36.9rem;
  position: absolute;
  left: 27.8rem;
  top: 0rem;
}
._4__div19 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 3rem;
  line-height: 11.881rem;
  font-weight: 700;
  position: relative;
}
._4__frame-2131329867 {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 136.4rem;
  height: 29.7rem;
  position: relative;
}
._4__frame-2131329841 {
  background: #0b0c0f;
  border-radius: 1.8rem;
  flex-shrink: 0;
  width: 43.8rem;
  height: 29.7rem;
  position: relative;
  overflow: hidden;
}
._4__frame-2131329844 {
  display: flex;
  flex-direction: row;
  gap: 2.3rem;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 27.6rem;
  position: absolute;
  left: 8.1rem;
  top: 3rem;
}
._4__frame-2131329843 {
  border-radius: 1.8rem;
  flex-shrink: 0;
  width: 27.6rem;
  height: 13.2rem;
  position: relative;
  overflow: hidden;
}
._4___0-d-418657-e-8-c-4-4-ef-7-9-e-86-e-56404-fc-8371-1 {
  width: 14.8rem;
  height: 14.8rem;
  position: absolute;
  left: 6.4rem;
  top: -0.8rem;
  object-fit: cover;
  aspect-ratio: 1;
}
._4__frame-202 {
  display: flex;
  flex-direction: column;
  gap: 1.24rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 28.6rem;
  position: relative;
}
._4__div20 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.8599998474121093rem;
  font-weight: 700;
  position: relative;
}
._4___5-30 {
  color: #626872;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
._4__frame-2131329849 {
  background: #0b0c0f;
  border-radius: 1.8rem;
  flex-shrink: 0;
  width: 43.8rem;
  height: 29.7rem;
  position: relative;
  overflow: hidden;
}
._4___6-e-9-f-8-b-51-1-da-1-4-a-91-a-57-c-8-e-2-b-5439-b-575-1 {
  width: 14rem;
  height: 14rem;
  position: absolute;
  left: 6.8rem;
  top: -0.4rem;
  object-fit: cover;
  aspect-ratio: 1;
}
._4__frame-203 {
  display: flex;
  flex-direction: column;
  gap: 1.24rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 28.4rem;
  position: relative;
}
._4__div21 {
  color: #626872;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
._4__frame-21313298502 {
  background: #0b0c0f;
  border-radius: 1.8rem;
  flex-shrink: 0;
  width: 43.8rem;
  height: 29.7rem;
  position: relative;
  overflow: hidden;
}
._4__frame-21313298442 {
  display: flex;
  flex-direction: row;
  gap: 2.3rem;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  width: 27.6rem;
  position: absolute;
  left: 8.1rem;
  top: 3rem;
}
._4___46-d-97969-e-9-ca-4-ba-7-b-983-5-cf-021935-c-76-1 {
  width: 15.9rem;
  height: 15.9rem;
  position: absolute;
  left: 5.8rem;
  top: -1.1rem;
  object-fit: cover;
  aspect-ratio: 1;
}
._4__frame-204 {
  display: flex;
  flex-direction: column;
  gap: 1.24rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 27.6rem;
  position: relative;
}
._4__div22 {
  color: #626872;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  position: relative;
  width: 27.6rem;
}
._4__frame-2131329866 {
  padding: 0rem 27.8rem 0rem 27.8rem;
  align-self: stretch;
  flex-shrink: 0;
  height: 51.6rem;
  position: relative;
  overflow: hidden;
}
._4__frame-21313298783 {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 136.4rem;
  height: 51.6rem;
  position: absolute;
  left: 27.8rem;
  top: 0rem;
}
._4__frame-21313298742 {
  border-radius: 2.5rem;
  flex-shrink: 0;
  width: 136.4rem;
  height: 51.6rem;
  position: relative;
  overflow: hidden;
}
._4__frame-2131329909 {
  width: 45.516000000000005rem;
  height: 45.702999999999996rem;
  position: absolute;
  left: 11rem;
  top: 2.9rem;
}
._4__mask-group2 {
  height: 45rem;
  width: auto;
  position: absolute;
  left: 0rem;
  top: 0rem;
  transform: translate(0rem, 0rem);
  overflow: visible;
}
._4__frame-2131329910 {
  display: flex;
  flex-direction: column;
  gap: 5.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 61.4rem;
  position: absolute;
  left: 68.2rem;
  top: 10.3rem;
}
._4__frame-2131329906 {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._4__div23 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 3rem;
  line-height: 6.5760000000000005rem;
  letter-spacing: -0.05em;
  font-weight: 700;
  position: relative;
  width: 61.4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._4__div24 {
  color: #4a5466;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
._4__frame-2131329907 {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 12.5rem;
  position: relative;
}
._4__background {
  background: rgba(244, 244, 244, 0.06);
  border-radius: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 1.916rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 5.5rem;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(-0deg) scale(1, 1);
}
._4__svg {
  flex-shrink: 0;
  width: 5.5rem;
  height: 5.635rem;
  position: relative;
  overflow: visible;
}
._4__background2 {
  background: #00a46f;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 1.916rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 5.5rem;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._4__svg2 {
  flex-shrink: 0;
  width: 5.5rem;
  height: 5.635rem;
  position: relative;
  overflow: visible;
}
._4__frame-21313298672 {
  padding: 0rem 27.8rem 0rem 27.8rem;
  align-self: stretch;
  flex-shrink: 0;
  height: 59.5rem;
  position: relative;
  overflow: hidden;
}
._4__frame-21313298784 {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  justify-content: flex-start;
  width: 136.4rem;
  height: 59.1rem;
  position: absolute;
  left: 27.8rem;
  top: 0rem;
}
._4__frame-2131329892 {
  align-self: stretch;
  flex-shrink: 0;
  height: 5.5rem;
  position: relative;
}
._4__div25 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 3rem;
  line-height: 4.881rem;
  font-weight: 700;
  position: absolute;
  left: 0rem;
  top: 1.4rem;
}
._4__frame-2131329847 {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 120.8rem;
  top: 0rem;
}
._4__svg3 {
  flex-shrink: 0;
  width: 5.5rem;
  height: 5.635rem;
  position: relative;
  overflow: visible;
}
._4__background3 {
  background: #00a46f;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 1.916rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 5.5rem;
  position: relative;
}
._4__svg4 {
  flex-shrink: 0;
  width: 5.5rem;
  height: 5.635rem;
  position: relative;
  overflow: visible;
}
._4__frame-21313298785 {
  display: flex;
  flex-direction: row;
  gap: 1.975rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 48.6rem;
  position: relative;
}
._4__frame-21313298743 {
  background: #0b0c0f;
  border-radius: 2.5rem;
  flex-shrink: 0;
  width: 44.1rem;
  height: 49rem;
  position: relative;
  overflow: hidden;
}
._4__frame-2131329891 {
  display: flex;
  flex-direction: column;
  gap: 7.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 35.2rem;
  position: absolute;
  left: 4.4rem;
  top: 4.1rem;
}
._4__frame-2131329889 {
  display: flex;
  flex-direction: row;
  gap: 9rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 35.2rem;
  position: relative;
}
._4__img3 {
  border-radius: 300rem;
  flex-shrink: 0;
  width: 10rem;
  height: 10rem;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1;
}
._4__frame-2131329888 {
  background: rgba(255, 204, 64, 0.03);
  border-radius: 1.2rem;
  padding: 1.6rem 1.3rem 1.6rem 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 16.2rem;
  position: relative;
  overflow: hidden;
}
._4__frame-2131329852 {
  display: flex;
  flex-direction: row;
  gap: 0.359rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
._4__frame-2131329890 {
  display: flex;
  flex-direction: column;
  gap: 5.1rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 35.5rem;
  position: relative;
}
._4__frame-2131329887 {
  display: flex;
  flex-direction: column;
  gap: 1.9rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._4__div26 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 2rem;
  line-height: 1.6rem;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._4__div27 {
  color: #626872;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 8.7rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._4__frame-21313298762 {
  background: #0b0c0f;
  border-radius: 2.5rem;
  flex-shrink: 0;
  width: 44.1rem;
  height: 49rem;
  position: relative;
  overflow: hidden;
}
._4__frame-21313298912 {
  display: flex;
  flex-direction: column;
  gap: 7.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 35.2rem;
  position: absolute;
  left: 4.351rem;
  top: 4.1rem;
}
._4__frame-21313298522 {
  display: flex;
  flex-direction: row;
  gap: 0.359rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
._4__frame-21313298872 {
  align-self: stretch;
  flex-shrink: 0;
  height: 12.2rem;
  position: relative;
}
._4__div28 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 2rem;
  line-height: 1.6rem;
  font-weight: 700;
  position: absolute;
  left: 0rem;
  top: 0rem;
  width: 35.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._4__balenciaga {
  color: #626872;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 400;
  position: absolute;
  left: 0rem;
  top: 3.5rem;
  width: 35.5rem;
  height: 6.1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._4__frame-21313298752 {
  background: #0b0c0f;
  border-radius: 2.5rem;
  flex-shrink: 0;
  width: 44.2rem;
  height: 49rem;
  position: relative;
  overflow: hidden;
}
._4__frame-21313298913 {
  display: flex;
  flex-direction: column;
  gap: 7.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 35.2rem;
  position: absolute;
  left: 4.425rem;
  top: 4.1rem;
}
._4__frame-21313298523 {
  display: flex;
  flex-direction: row;
  gap: 0.359rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
._4__div29 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 2.2rem;
  line-height: 1.6rem;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._4__frame-21313298772 {
  display: flex;
  flex-direction: row;
  gap: 1.975rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 51.9rem;
  position: relative;
}
._4__frame-21313298744 {
  background: #0b0c0f;
  border-radius: 2.5rem;
  flex-shrink: 0;
  width: 44.1rem;
  height: 51.7rem;
  position: relative;
  overflow: hidden;
}
._4__frame-21313298914 {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 35.2rem;
  position: absolute;
  left: 4.4rem;
  top: 4.6rem;
}
._4__frame-21313298524 {
  display: flex;
  flex-direction: row;
  gap: 0.359rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
._4__frame-21313298753 {
  background: #0b0c0f;
  border-radius: 2.5rem;
  flex-shrink: 0;
  width: 44.2rem;
  height: 51.7rem;
  position: relative;
  overflow: hidden;
}
._4__frame-21313298915 {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 35.2rem;
  position: absolute;
  left: 4.425rem;
  top: 4.6rem;
}
._4__frame-21313298525 {
  display: flex;
  flex-direction: row;
  gap: 0.359rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
._4__frame-21313298763 {
  background: #0b0c0f;
  border-radius: 2.5rem;
  flex-shrink: 0;
  width: 44.1rem;
  height: 51.7rem;
  position: relative;
  overflow: hidden;
}
._4__frame-21313298916 {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 35.2rem;
  position: absolute;
  left: 4.351rem;
  top: 4.6rem;
}
._4__frame-21313298526 {
  display: flex;
  flex-direction: row;
  gap: 0.359rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
._4__frame-2131329864 {
  padding: 0rem 27.8rem 0rem 27.8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 85.7rem;
  position: relative;
  overflow: hidden;
}
._4__frame-2131329800 {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._4__frame-2131329799 {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._4__frame-2131329811 {
  flex-shrink: 0;
  width: 136.4rem;
  height: 5.8rem;
  position: relative;
}
._4__frame-2131329812 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 136.4rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
}
._4__frame-2131329793 {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 59.4rem;
  position: relative;
}
._4__div30 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 3rem;
  line-height: 5.2rem;
  font-weight: 700;
  position: relative;
}
._4__proceed-to-stress-tests3 {
  background: #15171b;
  border-radius: 1rem;
  padding: 1.2rem 2.4rem 1.2rem 2.4rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 20.7rem;
  height: 5.8rem;
  position: relative;
}
._4__div31 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  position: relative;
}
._4__frame-2131329893 {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._4__frame-2131329794 {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 32.5rem;
  position: relative;
}
._4__frame-2131329789 {
  background: #15171b;
  border-radius: 1.5rem;
  flex-shrink: 0;
  width: 32.5rem;
  height: 20.5rem;
  position: relative;
  overflow: hidden;
}
._4__image-1 {
  width: 32.7rem;
  height: 32.7rem;
  position: absolute;
  left: 0rem;
  top: -0.9rem;
  object-fit: cover;
  aspect-ratio: 1;
}
._4__frame-2131329792 {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 32.7rem;
  position: relative;
}
._4__frame-21313297932 {
  display: flex;
  flex-direction: column;
  gap: 3.7rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 32rem;
  position: relative;
}
._4__div32 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.5rem;
  line-height: 5.2rem;
  font-weight: 700;
  position: relative;
}
._4__div33 {
  color: #626872;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.3rem;
  line-height: 2.2rem;
  font-weight: 400;
  position: relative;
  width: 32rem;
}
._4__frame-2131329810 {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._4__frame-2131329809 {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._4__person-svgrepo-com-1 {
  flex-shrink: 0;
  width: 1.7rem;
  height: 1.7rem;
  position: relative;
  overflow: hidden;
}
._4__group {
  width: 83.29%;
  height: 100%;
  position: absolute;
  right: 8.35%;
  left: 8.35%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
._4__div34 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 1.4rem;
  line-height: 3.6rem;
  font-weight: 500;
  position: relative;
}
._4__frame-21313298892 {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 32.6rem;
  position: relative;
}
._4__image-3 {
  width: 37.1rem;
  height: 24.7rem;
  position: absolute;
  left: -2.3rem;
  top: 0rem;
  object-fit: cover;
  aspect-ratio: 371/247;
}
._4__group2 {
  width: 83.29%;
  height: 100%;
  position: absolute;
  right: 8.35%;
  left: 8.35%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
._4__frame-21313298902 {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 32.6rem;
  position: relative;
}
._4__image-12 {
  width: 32.7rem;
  height: 32.7rem;
  position: absolute;
  left: 0rem;
  top: -4rem;
  object-fit: cover;
  aspect-ratio: 1;
}
._4__group3 {
  width: 83.29%;
  height: 100%;
  position: absolute;
  right: 8.35%;
  left: 8.35%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
._4__frame-21313298917 {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 32.5rem;
  position: relative;
}
._4__group4 {
  width: 83.29%;
  height: 100%;
  position: absolute;
  right: 8.35%;
  left: 8.35%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
._4__frame-2131329788 {
  flex-shrink: 0;
  width: 136.4rem;
  height: 27.7rem;
  position: relative;
}
._4__frame-2131329807 {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  align-items: center;
  justify-content: flex-start;
  width: 136.4rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
}
._4__frame-2131329806 {
  align-self: stretch;
  flex-shrink: 0;
  height: 12.7rem;
  position: relative;
}
._4__frame-58 {
  display: flex;
  flex-direction: row;
  gap: 6.9rem;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0rem;
  top: 0rem;
}
._4__frame-55 {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 16.2rem;
  position: relative;
}
._4__div35 {
  color: #626872;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  align-self: stretch;
}
._4__frame-54 {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._4__div36 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
._4__frame-56 {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 16.2rem;
  position: relative;
}
._4__frame-57 {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 20.9rem;
  position: relative;
}
._4__div37 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  position: relative;
}
._4__frame-2131329808 {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 16.8rem;
  position: absolute;
  left: 119.6rem;
  top: 0rem;
}
._4__frame-582 {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._4__frame-65 {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._4__frame-59 {
  background: #15171b;
  border-radius: 2.4rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 4.8rem;
  height: 4.8rem;
  position: relative;
}
._4__instagram-1 {
  flex-shrink: 0;
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
._4__frame-60 {
  background: #15171b;
  border-radius: 2.4rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 4.8rem;
  height: 4.8rem;
  position: relative;
}
._4__discord-1 {
  flex-shrink: 0;
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
._4__frame-62 {
  background: #15171b;
  border-radius: 2.4rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 4.8rem;
  height: 4.8rem;
  position: relative;
}
._4__twitter-1 {
  flex-shrink: 0;
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
._4__group-37 {
  align-self: stretch;
  flex-shrink: 0;
  height: 3.777rem;
  position: static;
}
._4__frame-68 {
  display: flex;
  flex-direction: row;
  gap: 5.5rem;
  align-items: center;
  justify-content: flex-start;
  width: 49.76%;
  position: absolute;
  right: 50.24%;
  left: 0%;
  top: calc(50% - -8.461rem);
}
._4__group-3 {
  flex-shrink: 0;
  width: 13.1rem;
  height: 3.777rem;
  position: static;
}
._4__frame-1948754034 {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 0rem;
  top: 0rem;
}
._4__frame-1948754035 {
  flex-shrink: 0;
  width: 3.2rem;
  height: 3.777rem;
  position: relative;
}
._4___12 {
  width: 3.2rem;
  height: 3.777rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  object-fit: cover;
  aspect-ratio: 32/37.77;
}
._4__frame-1948754036 {
  flex-shrink: 0;
  width: 8.6rem;
  height: 1.8rem;
  position: relative;
}
._4__legit-check {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.6400800704956056rem;
  line-height: 1.693rem;
  letter-spacing: -0.05em;
  font-weight: 700;
  position: absolute;
  left: 0rem;
  top: 0rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._4___2025-legit-check {
  color: #626872;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  position: relative;
}
._4__expert-checks-for-the-world-s-most-popular-brands {
  color: #ffffff;
  text-align: right;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 70.59%;
  width: 29.41%;
  bottom: 4.45%;
  top: 89.42%;
  height: 6.13%;
}
._4__div38 {
  width: 136.4rem;
  height: 5.8rem;
  position: fixed;
  left: 27.8rem;
  top: 3.2rem;
}
._4__shadowing {
  background: linear-gradient(
    180deg,
    rgba(12, 14, 18, 1) 0%,
    rgba(12, 14, 18, 0) 100%
  );
  width: 192rem;
  height: 12.2rem;
  position: absolute;
  left: -27.8rem;
  top: -3.2rem;
}
._4__div39 {
  width: 13rem;
  height: 5.8rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
}
._4__frame-19487540342 {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 0rem;
  top: 1rem;
}
._4__get-stardet {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 1.5rem;
  border-style: solid;
  border-color: transparent;
  border-width: 0.1rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 15.4rem;
  height: 5.8rem;
  position: absolute;
  left: 121rem;
  top: 0rem;
  backdrop-filter: blur(5rem);
}
._4__div40 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
}
._4__div41 {
  background: rgba(0, 0, 0, 0.02);
  border-radius: 1.5rem;
  border-style: solid;
  border-color: transparent;
  border-width: 0.1rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 68rem;
  position: absolute;
  left: 34.2rem;
  top: -0.3rem;
  backdrop-filter: blur(2rem);
}
._4__div42 {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
._4__home {
  border-radius: 4.8rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 8.9rem;
  height: 4rem;
  position: relative;
}
._4__features {
  border-radius: 4.8rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 11.5rem;
  height: 4rem;
  position: relative;
}
._4__about-us {
  border-radius: 4.8rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 15.4rem;
  height: 4rem;
  position: relative;
}
._4__pricing {
  border-radius: 4.8rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 16.5rem;
  height: 4rem;
  position: relative;
}
._4__faq {
  border-radius: 4.8rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 6.9rem;
  height: 4rem;
  position: relative;
}
