{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'pc/main/vars.css' %}">
  <link rel="stylesheet" href="{% static 'pc/main/style.css' %}">
  
  
  <style>
    html {
      font-size: 0.54vw;
    }

    .btn_hov {
      color: #060606;
      transition: .2s;
    }

    .btn_hov:hover {
      background-color: #02b57a;
      color: white !important;
      transition: .3s;
    }
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="_4">
    <div class="_4__frame-2131329865">
      <div class="_4__frame-2131329858" id="home">
        <div class="_4__frame-2131329787">
          <div class="_4__frame-2131329850">
            <div class="_4__ellipse-914"></div>
            <div class="_4__ellipse-915"></div>
            <div class="_4__frame-2131329919">
              <div class="_4__frame-2131329872">
                <img class="_4__vector-1" src="{% static 'pc/main/vector-10.svg' %}" />
                <div class="_4__frame-2131329869">
                  <div class="_4__frame-2131329913">
                    <img class="_4__img" src="{% static 'pc/main/img0.png' %}" />
                    <img class="_4__pngegg-11-1" src="{% static 'pc/main/pngegg-11-10.png' %}" />
                  </div>
                </div>
                <div class="_4__frame-2131329871">
                  <div class="_4__frame-2131329915">
                    <div class="_4__img2"></div>
                    <img class="_4__untitled-228-1" src="{% static 'pc/main/untitled-228-10.png' %}" />
                  </div>
                </div>
                <div class="_4__frame-21313298692">
                  <img class="_4___48112-970-1-1" src="{% static 'pc/main/_48112-970-1-10.png' %}" />
                </div>
                <div class="_4__frame-2131329870">
                  <img class="_4__pngwingcom-1-1" src="{% static 'pc/main/pngwingcom-1-10.png' %}" />
                </div>
              </div>
              <div class="_4__frame-2131329839">
                <div class="_4__div">
                  <div class="_4__div2">
                    <span>
                      <span class="div-2-span">
                        Cервис проверки вещей
                        <br />
                      </span>
                      <span class="div-2-span2">на оригинальность</span>
                    </span>
                  </div>
                  <div class="_4__div3">
                    Legit Check — сервис для проверки подлинности одежды, обуви и
                    аксессуаров. Мы работаем с популярными брендами и используем
                    экспертные методы, чтобы ваши покупки были оригинальными.
                  </div>
                </div>
                <div class="_4__proceed-to-stress-tests btn_hov">
                  <div class="_4__div4">Заказать проверку</div>
                </div>
              </div>
            </div>
            <div class="_4__div5">
              <div class="_4___1">
                <div class="_4__div6">1000</div>
                <div class="_4__div7">Брендов мы проверяем</div>
              </div>
              <div class="_4___2">
                <div class="_4__div6">6 лет</div>
                <div class="_4__div7">На рынке проверки</div>
              </div>
              <div class="_4___3">
                <div class="_4__div6">30K+</div>
                <div class="_4__div7">Проверок выполненно</div>
              </div>
              <div class="_4___42">
                <div class="_4__div6">44.5K</div>
                <div class="_4__div7">Аудитория Вконтакте</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="_4__frame-2131329859" id="categories">
        <div class="_4__frame-2131329882">
          <div class="_4__div8">Что мы можем проверить?</div>
          <div class="_4__frame-2131329798">
            <div class="_4__frame-27">
              <div class="_4__frame-23">
                <div class="_4__frame-22">
                  <img class="_4___1-1000" src="{% static 'pc/main/_1-10000.png' %}" />
                  <div class="_4__frame-20">
                    <div class="_4__sneakers">Sneakers</div>
                  </div>
                  <div class="_4__frame-2131329813 btn_hov">
                    <div class="_4__div9">Узнать больше</div>
                  </div>
                </div>
              </div>
              <div class="_4__frame-24">
                <div class="_4__frame-22">
                  <img class="_4___1-10002" src="{% static 'pc/main/_1-10001.png' %}" />
                  <div class="_4__frame-20">
                    <div class="_4__clothing">Clothing</div>
                  </div>
                  <div class="_4__frame-2131329813 btn_hov">
                    <div class="_4__div9">Узнать больше</div>
                  </div>
                </div>
              </div>
              <div class="_4__frame-25">
                <div class="_4__frame-222">
                  <img class="_4___1-10002" src="{% static 'pc/main/_1-10002.png' %}" />
                  <div class="_4__frame-20">
                    <div class="_4__clothing">Clothing</div>
                  </div>
                  <div class="_4__frame-2131329813 btn_hov">
                    <div class="_4__div9">Узнать больше</div>
                  </div>
                </div>
              </div>
              <div class="_4__frame-1948754058">
                <div class="_4__frame-22">
                  <div class="_4__frame-2131329814">
                    <img class="_4___1-10002" src="{% static 'pc/main/_1-10003.png' %}" />
                  </div>
                  <div class="_4__frame-20">
                    <div class="_4__accessories">Accessories</div>
                  </div>
                  <div class="_4__frame-2131329813 btn_hov">
                    <div class="_4__div9">Узнать больше</div>
                  </div>
                </div>
              </div>
              <div class="_4__frame-28">
                <div class="_4__frame-22">
                  <div class="_4__frame-2131329814">
                    <img class="_4___1-10002" src="{% static 'pc/main/_1-10004.png' %}" />
                  </div>
                  <div class="_4__frame-20">
                    <div class="_4__collectibes">Collectibes</div>
                  </div>
                  <div class="_4__frame-21313298132 btn_hov">
                    <div class="_4__div9">Узнать больше</div>
                  </div>
                </div>
              </div>
              <div class="_4__frame-26">
                <div class="_4__frame-22">
                  <div class="_4__frame-2131329814">
                    <img class="_4___1-10002" src="{% static 'pc/main/_1-10005.png' %}" />
                  </div>
                  <div class="_4__frame-20">
                    <div class="_4__bags">Bags</div>
                  </div>
                  <div class="_4__frame-21313298133 btn_hov">
                    <div class="_4__div9">Узнать больше</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="_4__frame-2131329861" id="stages">
        <div class="_4__frame-2131329878">
          <div class="_4__div10">
            <span>
              <span class="div-10-span">Этапы</span>
              <span class="div-10-span2">проверки на подлинность</span>
            </span>
          </div>
          <div class="_4__frame-2131329877">
            <div class="_4__frame-2131329876">
              <div class="_4__frame-2131329879">
                <div class="_4__frame-2131329880">
                  <div class="_4__div11">
                    <div class="_4__div12">Загрузите фото по инструкции</div>
                    <div class="_4__div13">
                      Ниже будут указаны примеры фотографий товара: общий вид,
                      несколько ракурсов, упаковка и возможные дефекты.
                    </div>
                  </div>
                  <div class="_4__proceed-to-stress-tests2 btn_hov">
                    <div class="_4__div14">Заказать проверку</div>
                  </div>
                </div>
              </div>
              <img class="_4__mask-group" src="{% static 'pc/main/mask-group0.svg' %}" />
            </div>
            <div class="_4__frame-2131329885">
              <div class="_4__frame-2131329875">
                <div class="_4__frame-2131329881">
                  <div class="_4__div15">
                    <div class="_4__div12">Процесс проверки</div>
                    <div class="_4__div16">
                      После получения фотографий наши эксперты сразу приступают к
                      работе
                    </div>
                  </div>
                  <div class="_4__proceed-to-stress-tests2 btn_hov">
                    <div class="_4__div14">Заказать проверку</div>
                  </div>
                </div>
                <img
                  class="_4__c-1870312-c-852-4-f-02-9-ff-8-3-e-731-ec-4-cc-62-1"
                  src="{% static 'pc/main/c-1870312-c-852-4-f-02-9-ff-8-3-e-731-ec-4-cc-62-10.png' %}"
                />
              </div>
              <div class="_4__frame-2131329874">
                <div class="_4__frame-21313298802">
                  <div class="_4__frame-21313298792">
                    <div class="_4__div17">
                      <div class="_4__div12">Получите вердикт</div>
                      <div class="_4__div18">
                        Узнайте результат в сообщении или закажите индивидуальный
                        сертификат
                      </div>
                    </div>
                    <div class="_4__proceed-to-stress-tests2 btn_hov">
                      <div class="_4__div14">Заказать проверку</div>
                    </div>
                  </div>
                </div>
                <div class="_4__frame-2131329883">
                  <img
                    class="_4__e-4637336-1-b-97-4-e-51-9-ab-7-74-a-9-d-9-cc-4002-1"
                    src="{% static 'pc/main/e-4637336-1-b-97-4-e-51-9-ab-7-74-a-9-d-9-cc-4002-10.png' %}"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="_4__frame-21313298652" id="advantages">
        <div class="_4__frame-21313298782">
          <div class="_4__div19">Почему нас выбирают?</div>
          <div class="_4__frame-2131329867">
            <div class="_4__frame-2131329841">
              <div class="_4__frame-2131329844">
                <div class="_4__frame-2131329843">
                  <img
                    class="_4___0-d-418657-e-8-c-4-4-ef-7-9-e-86-e-56404-fc-8371-1"
                    src="{% static 'pc/main/_0-d-418657-e-8-c-4-4-ef-7-9-e-86-e-56404-fc-8371-10.png' %}"
                  />
                </div>
                <div class="_4__frame-202">
                  <div class="_4__div20">Оперативность</div>
                  <div class="_4___5-30">
                    Результаты проверки займут 5–30 минут в зависимости от
                    категории товара.
                  </div>
                </div>
              </div>
            </div>
            <div class="_4__frame-2131329849">
              <div class="_4__frame-2131329844">
                <div class="_4__frame-2131329843">
                  <img
                    class="_4___6-e-9-f-8-b-51-1-da-1-4-a-91-a-57-c-8-e-2-b-5439-b-575-1"
                    src="{% static 'pc/main/_6-e-9-f-8-b-51-1-da-1-4-a-91-a-57-c-8-e-2-b-5439-b-575-10.png' %}"
                  />
                </div>
                <div class="_4__frame-203">
                  <div class="_4__div20">Надежность</div>
                  <div class="_4__div21">
                    Каждая вещь проверяется экспертами для точности результатов.
                  </div>
                </div>
              </div>
            </div>
            <div class="_4__frame-21313298502">
              <div class="_4__frame-21313298442">
                <div class="_4__frame-2131329843">
                  <img
                    class="_4___46-d-97969-e-9-ca-4-ba-7-b-983-5-cf-021935-c-76-1"
                    src="{% static 'pc/main/_46-d-97969-e-9-ca-4-ba-7-b-983-5-cf-021935-c-76-10.png' %}"
                  />
                </div>
                <div class="_4__frame-204">
                  <div class="_4__div20">Удобство</div>
                  <div class="_4__div22">
                    Проверяйте вещи на оригинальность в любое время и в любом
                    месте.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="_4__frame-2131329866">
        <div class="_4__frame-21313298783">
          <div class="_4__frame-21313298742">
            <div class="_4__frame-2131329909">
              <img class="_4__mask-group2" src="{% static 'pc/main/mask-group1.svg' %}" />
            </div>
            <div class="_4__frame-2131329910">
              <div class="_4__frame-2131329906">
                <div class="_4__div23">Примеры фотографий</div>
                <div class="_4__div24">
                  Для того, чтобы наши эксперты могли наиболее точно
                  <br />
                  определить подлинность вещи, пожалуйста, обратите внимание на
                  примеры.
                  <br />
                  <br />
                  Также убедитесь, что все фото сделаны в четком качестве и при
                  хорошем освещении.
                </div>
              </div>
              <div class="_4__frame-2131329907">
                <div class="_4__background">
                  <img class="_4__svg" src="{% static 'pc/main/svg0.svg' %}" />
                </div>
                <div class="_4__background2">
                  <img class="_4__svg2" src="{% static 'pc/main/svg1.svg' %}" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="_4__frame-21313298672">
        <div class="_4__frame-21313298784">
          <div class="_4__frame-2131329892">
            <div class="_4__div25">Отзывы о работе с нами</div>
            <div class="_4__frame-2131329847">
              <div class="_4__background">
                <img class="_4__svg3" src="{% static 'pc/main/svg2.svg' %}" />
              </div>
              <div class="_4__background3">
                <img class="_4__svg4" src="{% static 'pc/main/svg3.svg' %}" />
              </div>
            </div>
          </div>
          <div class="_4__frame-21313298785">
            <div class="_4__frame-21313298743">
              <div class="_4__frame-2131329891">
                <div class="_4__frame-2131329889">
                  <img class="_4__img3" src="{% static 'pc/main/img2.png' %}" />
                  <div class="_4__frame-2131329888">
                    <img
                      class="_4__frame-2131329852"
                      src="{% static 'pc/main/frame-21313298520.svg' %}"
                    />
                  </div>
                </div>
                <div class="_4__frame-2131329890">
                  <div class="_4__frame-2131329887">
                    <div class="_4__div26">Илья Кондратенков</div>
                    <div class="_4__div27">
                      Беру легит не в первый раз, ребята очень хорошо и быстро
                      работают! Цены и условия проведения легита намного приятнее
                      чем у конкурентов! Рекомендую
                    </div>
                  </div>
                  <div class="_4__proceed-to-stress-tests2 btn_hov">
                    <div class="_4__div14">Проверить</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="_4__frame-21313298762">
              <div class="_4__frame-21313298912">
                <div class="_4__frame-2131329889">
                  <img class="_4__img3" src="{% static 'pc/main/img3.png' %}" />
                  <div class="_4__frame-2131329888">
                    <img
                      class="_4__frame-21313298522"
                      src="{% static 'pc/main/frame-21313298521.svg' %}"
                    />
                  </div>
                </div>
                <div class="_4__frame-2131329890">
                  <div class="_4__frame-21313298872">
                    <div class="_4__div28">Алиночка Сазонова</div>
                    <div class="_4__balenciaga">
                      Легит на пуховик Balenciaga. Быстро, качественно, рекомендую
                      к сотрудничеству
                      <br />
                    </div>
                  </div>
                  <div class="_4__proceed-to-stress-tests2 btn_hov">
                    <div class="_4__div14">Проверить</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="_4__frame-21313298752">
              <div class="_4__frame-21313298913">
                <div class="_4__frame-2131329889">
                  <img class="_4__img3" src="{% static 'pc/main/img4.png' %}" />
                  <div class="_4__frame-2131329888">
                    <img
                      class="_4__frame-21313298523"
                      src="{% static 'pc/main/frame-21313298522.svg' %}"
                    />
                  </div>
                </div>
                <div class="_4__frame-2131329890">
                  <div class="_4__frame-2131329887">
                    <div class="_4__div29">Виктор С</div>
                    <div class="_4__div27">
                      Всё супер, быстрая проверка всё чётка и по делу. Рад что
                      нашел их в вк теперь спокойней покупать дорогие вещи.
                      <br />
                    </div>
                  </div>
                  <div class="_4__proceed-to-stress-tests2 btn_hov">
                    <div class="_4__div14">Проверить</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="_4__frame-21313298772">
            <div class="_4__frame-21313298744">
              <div class="_4__frame-21313298914">
                <div class="_4__frame-2131329889">
                  <img class="_4__img3" src="{% static 'pc/main/img5.png' %}" />
                  <div class="_4__frame-2131329888">
                    <img
                      class="_4__frame-21313298524"
                      src="{% static 'pc/main/frame-21313298523.svg' %}"
                    />
                  </div>
                </div>
                <div class="_4__frame-2131329890">
                  <div class="_4__frame-2131329887">
                    <div class="_4__div26">Илья Кондратенков</div>
                    <div class="_4__div27">
                      Беру легит не в первый раз, ребята очень хорошо и быстро
                      работают! Цены и условия проведения легита намного приятнее
                      чем у конкурентов! Рекомендую
                    </div>
                  </div>
                  <div class="_4__proceed-to-stress-tests2 btn_hov">
                    <div class="_4__div14">Проверить</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="_4__frame-21313298753">
              <div class="_4__frame-21313298915">
                <div class="_4__frame-2131329889">
                  <img class="_4__img3" src="{% static 'pc/main/img6.png' %}" />
                  <div class="_4__frame-2131329888">
                    <img
                      class="_4__frame-21313298525"
                      src="{% static 'pc/main/frame-21313298524.svg' %}"
                    />
                  </div>
                </div>
                <div class="_4__frame-2131329890">
                  <div class="_4__frame-2131329887">
                    <div class="_4__div26">Илья Кондратенков</div>
                    <div class="_4__div27">
                      Беру легит не в первый раз, ребята очень хорошо и быстро
                      работают! Цены и условия проведения легита намного приятнее
                      чем у конкурентов! Рекомендую
                    </div>
                  </div>
                  <div class="_4__proceed-to-stress-tests2 btn_hov">
                    <div class="_4__div14">Проверить</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="_4__frame-21313298763">
              <div class="_4__frame-21313298916">
                <div class="_4__frame-2131329889">
                  <img class="_4__img3" src="{% static 'pc/main/img7.png' %}" />
                  <div class="_4__frame-2131329888">
                    <img
                      class="_4__frame-21313298526"
                      src="{% static 'pc/main/frame-21313298525.svg' %}"
                    />
                  </div>
                </div>
                <div class="_4__frame-2131329890">
                  <div class="_4__frame-2131329887">
                    <div class="_4__div26">Илья Кондратенков</div>
                    <div class="_4__div27">
                      Беру легит не в первый раз, ребята очень хорошо и быстро
                      работают! Цены и условия проведения легита намного приятнее
                      чем у конкурентов! Рекомендую
                    </div>
                  </div>
                  <div class="_4__proceed-to-stress-tests2 btn_hov">
                    <div class="_4__div14">Проверить</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="_4__frame-2131329864" id="blog">
        <div class="_4__frame-2131329800">
          <div class="_4__frame-2131329799">
            <div class="_4__frame-2131329811">
              <div class="_4__frame-2131329812">
                <div class="_4__frame-2131329793">
                  <div class="_4__div30">Наш блог</div>
                </div>
                <a href="{% url 'list' %}" class="_4__proceed-to-stress-tests3 btn_hov">
                  <div class="_4__div31">Перейти к блогу</div>
                </a>
              </div>
            </div>
            <div class="_4__frame-2131329893">
              <div class="_4__frame-2131329794">
                <div class="_4__frame-2131329789">
                  <img class="_4__image-1" src="{% static 'pc/main/image-10.png' %}" />
                </div>
                <div class="_4__frame-2131329792">
                  <div class="_4__frame-21313297932">
                    <div class="_4__div32">
                      Как отличить оригинал Nike Air Force 1?
                    </div>
                    <div class="_4__div33">
                      Overload.su was created to help website owners identify
                      vulnerabilities in their infrastructure.
                    </div>
                  </div>
                  <div class="_4__frame-2131329810">
                    <div class="_4__frame-2131329809">
                      <div class="_4__person-svgrepo-com-1">
                        <img class="_4__group" src="{% static 'pc/main/group0.svg' %}" />
                      </div>
                      <div class="_4__div34">Автор: Никита Бульдозеров</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="_4__frame-21313298892">
                <div class="_4__frame-2131329789">
                  <img class="_4__image-1" src="{% static 'pc/main/image-11.png' %}" />
                  <img class="_4__image-3" src="{% static 'pc/main/image-30.png' %}" />
                </div>
                <div class="_4__frame-2131329792">
                  <div class="_4__frame-21313297932">
                    <div class="_4__div32">
                      Как отличить оригинал Nike Air Force 1?
                    </div>
                    <div class="_4__div33">
                      Overload.su was created to help website owners identify
                      vulnerabilities in their infrastructure.
                    </div>
                  </div>
                  <div class="_4__frame-2131329810">
                    <div class="_4__frame-2131329809">
                      <div class="_4__person-svgrepo-com-1">
                        <img class="_4__group2" src="{% static 'pc/main/group1.svg' %}" />
                      </div>
                      <div class="_4__div34">Автор: Никита Бульдозеров</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="_4__frame-21313298902">
                <div class="_4__frame-2131329789">
                  <img class="_4__image-12" src="{% static 'pc/main/image-12.png' %}" />
                </div>
                <div class="_4__frame-2131329792">
                  <div class="_4__frame-21313297932">
                    <div class="_4__div32">
                      Как отличить оригинал Nike Air Force 1?
                    </div>
                    <div class="_4__div33">
                      Overload.su was created to help website owners identify
                      vulnerabilities in their infrastructure.
                    </div>
                  </div>
                  <div class="_4__frame-2131329810">
                    <div class="_4__frame-2131329809">
                      <div class="_4__person-svgrepo-com-1">
                        <img class="_4__group3" src="{% static 'pc/main/group2.svg' %}" />
                      </div>
                      <div class="_4__div34">Автор: Никита Бульдозеров</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="_4__frame-21313298917">
                <div class="_4__frame-2131329789">
                  <img class="_4__image-1" src="{% static 'pc/main/image-13.png' %}" />
                </div>
                <div class="_4__frame-2131329792">
                  <div class="_4__frame-21313297932">
                    <div class="_4__div32">
                      Как отличить оригинал Nike Air Force 1?
                    </div>
                    <div class="_4__div33">
                      Overload.su was created to help website owners identify
                      vulnerabilities in their infrastructure.
                    </div>
                  </div>
                  <div class="_4__frame-2131329810">
                    <div class="_4__frame-2131329809">
                      <div class="_4__person-svgrepo-com-1">
                        <img class="_4__group4" src="{% static 'pc/main/group3.svg' %}" />
                      </div>
                      <div class="_4__div34">Автор: Никита Бульдозеров</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="_4__frame-2131329788">
            <div class="_4__frame-2131329807">
              <div class="_4__frame-2131329806">
                <div class="_4__frame-58">
                  <div class="_4__frame-55">
                    <div class="_4__div35">о проекте</div>
                    <div class="_4__frame-54">
                      <a href="#categories" class="_4__div36">Категории</a>
                      <a href="#advantages" class="_4__div36">Преимущества</a>
                      <a href="#stages" class="_4__div36">Этапы проверки</a>
                      <a href="#reviews" class="_4__div36">Отзывы</a>
                    </div>
                  </div>
                  <div class="_4__frame-56">
                    <div class="_4__div35">блог</div>
                    <a href="{% url 'list' %}" class="_4__frame-54">
                      <div class="_4__div36">Новости</div>
                    </a>
                  </div>
                  <div class="_4__frame-57">
                    <a class="_4__div35" href="https://t.me/checkermanager">Связаться</a>
                    <div class="_4__frame-54">
                      <div class="_4__div36">Условия и положения</div>
                      <div class="_4__div37">Политика конфиденциальности</div>
                    </div>
                  </div>
                </div>
                <div class="_4__frame-2131329808">
                  <div class="_4__frame-582">
                    <div class="_4__div35">Социальные сети</div>
                  </div>
                  <div class="_4__frame-65">
                    <div class="_4__frame-59">
                      <img class="_4__instagram-1" src="{% static 'pc/main/instagram-10.svg' %}" />
                    </div>
                    <div class="_4__frame-60">
                      <img class="_4__discord-1" src="{% static 'pc/main/discord-10.svg' %}" />
                    </div>
                    <div class="_4__frame-62">
                      <img class="_4__twitter-1" src="{% static 'pc/main/twitter-10.svg' %}" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="_4__group-37">
                <div class="_4__frame-68">
                  <div class="_4__group-3">
                    <div class="_4__frame-1948754034">
                      <div class="_4__frame-1948754035">
                        <img class="_4___12" src="{% static 'pc/main/_11.png' %}" />
                      </div>
                      <div class="_4__frame-1948754036">
                        <div class="_4__legit-check">Legit Check</div>
                      </div>
                    </div>
                  </div>
                  <div class="_4___2025-legit-check">
                    © 2025 Legit Check. Все права защищены
                  </div>
                </div>
                <div
                  class="_4__expert-checks-for-the-world-s-most-popular-brands"
                >
                  Expert checks for the world’s most popular brands
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="_4__div38">
      <div class="_4__shadowing"></div>
      <div class="_4__div39">
        <div class="_4__frame-19487540342">
          <div class="_4__frame-1948754035">
            <img class="_4___12" src="{% static 'pc/main/_12.png' %}" />
          </div>
          <div class="_4__frame-1948754036">
            <div class="_4__legit-check">Legit Check</div>
          </div>
        </div>
      </div>
      <a class="_4__get-stardet btn_hov" href="https://t.me/checkermanager">
        <div class="_4__div40">Связаться</div>
      </a>
      <div class="_4__div41">
        <div class="_4__div42">
          <div class="_4__home">
            <a href="#home" class="_4__div14">Главная</a>
          </div>
          <div class="_4__features">
            <a href="#categories" class="_4__div14">Категории</a>
          </div>
          <div class="_4__about-us">
            <a href="#advantages" class="_4__div14">Преимущества</a>
          </div>
          <div class="_4__pricing">
            <a href="#stages" class="_4__div14">Этапы проверки</a>
          </div>
          <div class="_4__faq">
            <a href="#blog" class="_4__div14">Блог</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>