<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'mobile/list/vars.css' %}">
  <link rel="stylesheet" href="{% static 'mobile/list/style.css' %}">
  
  
  <style>
    html {
      font-size: 2.52vw;
    }
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="_2">
    <div class="_2__frame-2131329595">
      <div class="_2__frame-2131329944">
        <div class="_2__div">
          <div class="_2__frame-1948754034">
            <div class="_2__frame-1948754035">
              <img class="_2___1" src="{% static 'mobile/list/_10.png' %}" />
            </div>
            <div class="_2__frame-1948754036">
              <div class="_2__legit-check">Legit Check</div>
            </div>
          </div>
        </div>
        <div class="_2__btn">
          <div class="_2__div2">Связаться</div>
        </div>
      </div>
    </div>
    <div class="_2__frame-2131329937">
      <div class="_2__frame-2131329943">
        <div class="_2__div3">Наш блог</div>
        <div class="_2__frame-2131329942">
          <div class="_2__frame-2131329893">
            <div class="_2__frame-2131329794">
              <div class="_2__frame-2131329789">
                <img class="_2__image-1" src="{% static 'mobile/list/image-10.png' %}" />
              </div>
              <div class="_2__frame-2131329792">
                <div class="_2__frame-2131329793">
                  <div class="_2__div4">
                    Как отличить оригинал Nike Air Force 1?
                  </div>
                  <div class="_2__div5">
                    Overload.su was created to help website owners identify
                    vulnerabilities in their infrastructure.
                  </div>
                </div>
                <div class="_2__frame-2131329810">
                  <div class="_2__frame-2131329809">
                    <div class="_2__person-svgrepo-com-1">
                      <img class="_2__group" src="{% static 'mobile/list/group0.svg' %}" />
                    </div>
                    <div class="_2__div6">Автор: Никита Бульдозеров</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="_2__frame-2131329889">
              <div class="_2__frame-2131329789">
                <img class="_2__image-1" src="{% static 'mobile/list/image-11.png' %}" />
                <img class="_2__image-3" src="{% static 'mobile/list/image-30.png' %}" />
              </div>
              <div class="_2__frame-2131329792">
                <div class="_2__frame-2131329793">
                  <div class="_2__div4">
                    Как отличить оригинал Nike Air Force 1?
                  </div>
                  <div class="_2__div5">
                    Overload.su was created to help website owners identify
                    vulnerabilities in their infrastructure.
                  </div>
                </div>
                <div class="_2__frame-2131329810">
                  <div class="_2__frame-2131329809">
                    <div class="_2__person-svgrepo-com-1">
                      <img class="_2__group2" src="{% static 'mobile/list/group1.svg' %}" />
                    </div>
                    <div class="_2__div6">Автор: Никита Бульдозеров</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="_2__frame-2131329890">
              <div class="_2__frame-2131329789">
                <img class="_2__image-1" src="{% static 'mobile/list/image-12.png' %}" />
              </div>
              <div class="_2__frame-2131329792">
                <div class="_2__frame-2131329793">
                  <div class="_2__div4">
                    Как отличить оригинал Nike Air Force 1?
                  </div>
                  <div class="_2__div5">
                    Overload.su was created to help website owners identify
                    vulnerabilities in their infrastructure.
                  </div>
                </div>
                <div class="_2__frame-2131329810">
                  <div class="_2__frame-2131329809">
                    <div class="_2__person-svgrepo-com-1">
                      <img class="_2__group3" src="{% static 'mobile/list/group2.svg' %}" />
                    </div>
                    <div class="_2__div6">Автор: Никита Бульдозеров</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="_2__frame-2131329892">
              <div class="_2__frame-2131329789">
                <img class="_2__image-1" src="{% static 'mobile/list/image-13.png' %}" />
              </div>
              <div class="_2__frame-2131329792">
                <div class="_2__frame-2131329793">
                  <div class="_2__div4">
                    Как отличить оригинал Nike Air Force 1?
                  </div>
                  <div class="_2__div5">
                    Overload.su was created to help website owners identify
                    vulnerabilities in their infrastructure.
                  </div>
                </div>
                <div class="_2__frame-2131329810">
                  <div class="_2__frame-2131329809">
                    <div class="_2__person-svgrepo-com-1">
                      <img class="_2__group4" src="{% static 'mobile/list/group3.svg' %}" />
                    </div>
                    <div class="_2__div6">Автор: Никита Бульдозеров</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="_2__frame-21313298932">
              <div class="_2__frame-2131329789">
                <img class="_2__image-1" src="{% static 'mobile/list/image-14.png' %}" />
                <img class="_2__image-3" src="{% static 'mobile/list/image-31.png' %}" />
              </div>
              <div class="_2__frame-2131329792">
                <div class="_2__frame-2131329793">
                  <div class="_2__div4">
                    Как отличить оригинал Nike Air Force 1?
                  </div>
                  <div class="_2__div5">
                    Overload.su was created to help website owners identify
                    vulnerabilities in their infrastructure.
                  </div>
                </div>
                <div class="_2__frame-2131329810">
                  <div class="_2__frame-2131329809">
                    <div class="_2__person-svgrepo-com-1">
                      <img class="_2__group5" src="{% static 'mobile/list/group4.svg' %}" />
                    </div>
                    <div class="_2__div6">Автор: Никита Бульдозеров</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="_2__frame-2131329894">
              <div class="_2__frame-2131329789">
                <img class="_2__image-1" src="{% static 'mobile/list/image-15.png' %}" />
              </div>
              <div class="_2__frame-2131329792">
                <div class="_2__frame-2131329793">
                  <div class="_2__div4">
                    Как отличить оригинал Nike Air Force 1?
                  </div>
                  <div class="_2__div5">
                    Overload.su was created to help website owners identify
                    vulnerabilities in their infrastructure.
                  </div>
                </div>
                <div class="_2__frame-2131329810">
                  <div class="_2__frame-2131329809">
                    <div class="_2__person-svgrepo-com-1">
                      <img class="_2__group6" src="{% static 'mobile/list/group5.svg' %}" />
                    </div>
                    <div class="_2__div6">Автор: Никита Бульдозеров</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="_2__frame-2131329895">
              <div class="_2__frame-2131329789">
                <img class="_2__image-1" src="{% static 'mobile/list/image-16.png' %}" />
                <img class="_2__image-3" src="{% static 'mobile/list/image-32.png' %}" />
              </div>
              <div class="_2__frame-2131329792">
                <div class="_2__frame-2131329793">
                  <div class="_2__div4">
                    Как отличить оригинал Nike Air Force 1?
                  </div>
                  <div class="_2__div5">
                    Overload.su was created to help website owners identify
                    vulnerabilities in their infrastructure.
                  </div>
                </div>
                <div class="_2__frame-2131329810">
                  <div class="_2__frame-2131329809">
                    <div class="_2__person-svgrepo-com-1">
                      <img class="_2__group7" src="{% static 'mobile/list/group6.svg' %}" />
                    </div>
                    <div class="_2__div6">Автор: Никита Бульдозеров</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="_2__frame-2131329891">
              <div class="_2__frame-2131329789">
                <img class="_2__image-1" src="{% static 'mobile/list/image-17.png' %}" />
                <img class="_2__image-3" src="{% static 'mobile/list/image-33.png' %}" />
              </div>
              <div class="_2__frame-2131329792">
                <div class="_2__frame-2131329793">
                  <div class="_2__div4">
                    Как отличить оригинал Nike Air Force 1?
                  </div>
                  <div class="_2__div5">
                    Overload.su was created to help website owners identify
                    vulnerabilities in their infrastructure.
                  </div>
                </div>
                <div class="_2__frame-2131329810">
                  <div class="_2__frame-2131329809">
                    <div class="_2__person-svgrepo-com-1">
                      <img class="_2__group8" src="{% static 'mobile/list/group7.svg' %}" />
                    </div>
                    <div class="_2__div6">Автор: Никита Бульдозеров</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="_2__frame-2131329948">
        <div class="_2__frame-2131329946">
          <div class="_2__group-3">
            <div class="_2__frame-19487540342">
              <div class="_2__frame-1948754035">
                <img class="_2___1" src="{% static 'mobile/list/_11.png' %}" />
              </div>
              <div class="_2__frame-1948754036">
                <div class="_2__legit-check">Legit Check</div>
              </div>
            </div>
          </div>
          <div class="_2___2025-legit-check">
            © 2025 Legit Check. Все права защищены
          </div>
          <div class="_2__expert-checks-for-the-world-s-most-popular-brands">
            Expert checks for the world’s most popular brands
          </div>
        </div>
        <div class="_2__frame-2131329947">
          <div class="_2__frame-2131329808">
            <div class="_2__frame-58">
              <div class="_2__div7">Социальные сети</div>
            </div>
            <div class="_2__frame-65">
              <div class="_2__frame-59">
                <img class="_2__instagram-1" src="{% static 'mobile/list/instagram-10.svg' %}" />
              </div>
              <div class="_2__frame-60">
                <img class="_2__discord-1" src="{% static 'mobile/list/discord-10.svg' %}" />
              </div>
              <div class="_2__frame-62">
                <img class="_2__twitter-1" src="{% static 'mobile/list/twitter-10.svg' %}" />
              </div>
            </div>
          </div>
          <div class="_2__frame-57">
            <div class="_2__div7">Связаться</div>
            <div class="_2__frame-54">
              <div class="_2__div8">Условия и положения</div>
              <div class="_2__div9">Политика конфиденциальности</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>