<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'mobile/statia/vars.css' %}">
  <link rel="stylesheet" href="{% static 'mobile/statia/style.css' %}">
  
  
  <style>
    html {
      font-size: 2.52vw;
    }
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="_3">
    <div class="_3__frame-2131329595">
      <div class="_3__frame-2131329944">
        <div class="_3__div">
          <div class="_3__frame-1948754034">
            <div class="_3__frame-1948754035">
              <img class="_3___1" src="{% static 'mobile/statia/_10.png' %}" />
            </div>
            <div class="_3__frame-1948754036">
              <div class="_3__legit-check">Legit Check</div>
            </div>
          </div>
        </div>
        <div class="_3__btn">
          <div class="_3__div2">Связаться</div>
        </div>
      </div>
    </div>
    <div class="_3__frame-2131329937">
      <div class="_3__frame-2131329966">
        <div class="_3__frame-2131329961">
          <div class="_3__frame-2131329960">
            <div class="_3__heading-1-huawei-pura-80">
              Как отличить оригинал Nike Air Force 1?
            </div>
            <div class="_3__frame-2131329959">
              <div class="_3__frame-2131329835">
                <div class="_3__link">
                  <div
                    class="_3__div3"
                    style="
                      background: url(div2.png) center;
                      background-size: cover;
                      background-repeat: no-repeat;
                    "
                  >
                    <img class="_3__image-4" src="{% static 'mobile/statia/image-40.png' %}" />
                  </div>
                </div>
                <div class="_3__link2">
                  <div class="_3__div4">Никита Бульдозеров</div>
                </div>
              </div>
              <div class="_3__frame-2131329836">
                <div class="_3__time-07-14-2-2025">07:14, 2 сентября 2025</div>
                <div class="_3__vertical-border">
                  <div class="_3___9">9 минут на чтение</div>
                </div>
              </div>
            </div>
          </div>
          <div class="_3__frame-2131329794">
            <div class="_3__frame-2131329789">
              <img class="_3__image-1" src="{% static 'mobile/statia/image-10.png' %}" />
            </div>
            <div class="_3__frame-2131329792">
              <div class="_3__frame-2131329793">
                <div class="_3__div5">
                  Линейка Huawei Pura 80 наконец дополнилась базовой моделью —
                  российские ритейлеры уже открыли на неё предзаказы. Самое время
                  поговорить о сходствах и отличиях актуальных «пьюр» и ответить
                  на главный вопрос — какую из них выбрать?
                </div>
                <div class="_3__div6">
                  В этом году во флагманской линейке Huawei снова три модели:
                  базовая Pura 80, продвинутая Pura 80 Pro и самая технологичная
                  Pura 80 Ultra. Все они продолжают идеи, заложенные в
                  прошлогодней линейке Pura 70.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="_3__frame-2131329794">
          <div class="_3__frame-2131329824">
            <div class="_3__heading-2">Позиционирование моделей</div>
            <div class="_3__div7">
              Если коротко, то вот самые ключевые сходства и отличия моделей:
            </div>
            <div class="_3__frame-2131329826">
              <div class="_3__strong-huawei-pura-80-pro">
                <span>
                  <span class="strong-huawei-pura-80-pro-span">
                    Huawei Pura 80 Pro
                  </span>
                  <span class="strong-huawei-pura-80-pro-span2">
                    — внешне практически брат-близнец «ультры», но получивший чуть
                    более простой набор камер и другие цвета корпуса. С точки
                    зрения эргономики, диагонали экрана производительности и
                    ёмкости батареи аппарат идентичен старшей модели.
                  </span>
                </span>
              </div>
              <div class="_3__background"></div>
            </div>
          </div>
          <div class="_3__frame-2131329965">
            <div class="_3__frame-2131329963">
              <div class="_3__frame-21313297892">
                <img class="_3__image-1" src="{% static 'mobile/statia/image-11.png' %}" />
                <img class="_3__image-7" src="{% static 'mobile/statia/image-70.png' %}" />
              </div>
            </div>
            <div class="_3__frame-2131329964">
              <div class="_3__figcaption-huawei-pura-80-ultra">
                Huawei Pura 80 Ultra
              </div>
            </div>
          </div>
        </div>
        <div class="_3__frame-2131329962">
          <div class="_3__frame-21313298242">
            <div class="_3__frame-2131329826">
              <div class="_3__strong-huawei-pura-80-pro">
                <span>
                  <span class="strong-huawei-pura-80-pro-span">
                    Huawei Pura 80 Pro
                  </span>
                  <span class="strong-huawei-pura-80-pro-span2">
                    — внешне практически брат-близнец «ультры», но получивший чуть
                    более простой набор камер и другие цвета корпуса. С точки
                    зрения эргономики, диагонали экрана производительности и
                    ёмкости батареи аппарат идентичен старшей модели.
                  </span>
                </span>
              </div>
              <div class="_3__background"></div>
            </div>
          </div>
          <div class="_3__frame-2131329965">
            <div class="_3__frame-2131329963">
              <div class="_3__frame-21313297892">
                <img class="_3__image-1" src="{% static 'mobile/statia/image-12.png' %}" />
                <img class="_3__image-7" src="{% static 'mobile/statia/image-71.png' %}" />
              </div>
            </div>
            <div class="_3__frame-2131329964">
              <div class="_3__figcaption-huawei-pura-80-ultra">
                Huawei Pura 80 Ultra
              </div>
            </div>
          </div>
        </div>
        <div class="_3__frame-21313299632">
          <div class="_3__frame-21313298243">
            <div class="_3__heading-2">Дизайн и эргономика</div>
            <div class="_3__huawei-pura-80-pro-pura-80-ultra">
              Как я уже отметил выше, Huawei Pura 80 Pro и Pura 80 Ultra по
              корпусу практически братья- близнецы.
            </div>
            <div class="_3__frame-21313298262">
              <div class="_3__strong-huawei-pura-80-pro2">
                Габариты обоих устройств идентичны, единственное, у «ультры»
                заметно больше блок камер, за счёт которого она ещё и чуть тяжелее
                — на 14,5 г (233,5 г против 219 г соответственно).
              </div>
            </div>
          </div>
          <div class="_3__frame-2131329965">
            <div class="_3__frame-2131329963">
              <div class="_3__frame-21313297892">
                <img class="_3__image-1" src="{% static 'mobile/statia/image-13.png' %}" />
                <img class="_3__image-7" src="{% static 'mobile/statia/image-72.png' %}" />
                <img class="_3__image-6" src="{% static 'mobile/statia/image-60.png' %}" />
              </div>
            </div>
            <div class="_3__frame-2131329964">
              <div class="_3__figcaption-huawei-pura-80-ultra">
                Huawei Pura 80 Ultra
              </div>
            </div>
          </div>
        </div>
        <div class="_3__frame-2131329967">
          <div class="_3__div8">
            Впрочем, не могу сказать, что и то и другое как-то негативно
            сказываются на эргономике — обеими моделями пользоваться удобно,
            особенно если вы уже привыкли к габаритам современных флагманов.
          </div>
          <div class="_3___4-pura-80-pro-pura-80-ultra">
            Округлые грани, покатые с 4-х сторон фронтальные панели, расположение
            клавиш, разъёмов и вырезов — всё это абсолютно одинаково в Pura 80 Pro
            и Pura 80 Ultra.
          </div>
        </div>
      </div>
      <div class="_3__frame-2131329948">
        <div class="_3__frame-2131329946">
          <div class="_3__group-3">
            <div class="_3__frame-19487540342">
              <div class="_3__frame-1948754035">
                <img class="_3___1" src="{% static 'mobile/statia/_11.png' %}" />
              </div>
              <div class="_3__frame-1948754036">
                <div class="_3__legit-check">Legit Check</div>
              </div>
            </div>
          </div>
          <div class="_3___2025-legit-check">
            © 2025 Legit Check. Все права защищены
          </div>
          <div class="_3__expert-checks-for-the-world-s-most-popular-brands">
            Expert checks for the world’s most popular brands
          </div>
        </div>
        <div class="_3__frame-2131329947">
          <div class="_3__frame-2131329808">
            <div class="_3__frame-58">
              <div class="_3__div9">Социальные сети</div>
            </div>
            <div class="_3__frame-65">
              <div class="_3__frame-59">
                <img class="_3__instagram-1" src="{% static 'mobile/statia/instagram-10.svg' %}" />
              </div>
              <div class="_3__frame-60">
                <img class="_3__discord-1" src="{% static 'mobile/statia/discord-10.svg' %}" />
              </div>
              <div class="_3__frame-62">
                <img class="_3__twitter-1" src="{% static 'mobile/statia/twitter-10.svg' %}" />
              </div>
            </div>
          </div>
          <div class="_3__frame-57">
            <div class="_3__div9">Связаться</div>
            <div class="_3__frame-54">
              <div class="_3__div10">Условия и положения</div>
              <div class="_3__div11">Политика конфиденциальности</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>